body {
    font-family: 'Silkscreen', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3a3a3a;
    color: cornsilk;
    gap: 30px;
}

#header {
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 10px;
    font-size: 60pt;
}

.container {
    display: grid;
    background-color: white;
    border: thick solid black;
    height: 600px;
    width: 600px;
}

.row {
    display: flex;
    flex: 1 0 auto;
}

.square {
    flex: 1 0 auto;
    border: 1px solid #f5f5f5;
    background-color: white;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 14pt;
}

#input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
#input input,
#input select {
    width: 100px;
}

button {
    font-family: 'Silkscreen', sans-serif;
}
