body {
    background-color: #1c1c1c;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid white;
    height: 1000px;
    width: 1000px;
}

.grid-square {
    background-color: rebeccapurple;
    border: 1px orange solid;
}